header{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #3347B0;
    width: 100vw;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.logo-container{
    align-items: center;
    justify-content: center;
    margin-left: 48px;
}

.logo-img{
    display: flex;
    width: 130%;
    height: 107%;
    justify-items: center;
    
   
}
.sair-img{
    width: 124px;
    height: 42.5px;
    margin-right: 96px;
}
.sair-container {
    display: flex;
    align-items: center;
}
.voltar-img{
    width: 157px;
    height: 42px;
    margin-right:96px;
}
