.all{
    display: flex;
    align-items: center;
    height: 78.1vh;
    padding-left: 96px;
}
.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    width: 471px;
}
.linha1-container{
    display: flex;
    gap: 10px;
}
.texto1 {
    font-weight: 300;
}
.texto2{
    font-weight: 300;
}
.texto-curso{
   color:  #3347B0;
   font-weight: 700;
}
.img-aparelhos{
    width: 436px;
    height: 262px;
    padding-top:44px;
    
}
.img-container-estudante{
    height: 426px;
    width: 257px;
    display: flex;
    flex-direction:row; 
    margin-left: 64px;
}
.div-container-button{
    height: 200px;
    width: 400px;
    background: #3347B0;
    border: 1px solid #000000;
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
}
.a-button{
    text-decoration: none;
    color: white;
    background-color: aqua;
}
.img-button{
    max-width: 40%;
}
    

