.all{
    display: flex;
    align-items: center;
    height: 75vh;
    padding-left: 96px;

}
.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    width: 471px;
}
.linha1-container{
    display: flex;
    gap: 10px;
}
.texto1 {
    font-weight: 300;
}
.texto2{
    font-weight: 300;
}

.texto-curso{
   color:  #3347B0;
   font-weight: 700;
}

.img-aparelhos{
    width: 436px;
    height: 262px;
    padding-top:44px;
   
}

.img-container-estudante{
    height: 426px;
    width: 257px;
    display: flex;
    flex-direction:row; 
    margin-left: 64px;

}
    

